

.proj_title{
    margin: auto;
    position: fixed;
    top:0px; bottom:0px; right:0px; left:0px;
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

.lang_used{
    margin: auto;
    position: fixed;
    top:0px; bottom:0px; right:0px; left:0px;
    text-align: center;
    display: block;
    font-size: 12pt;
    font-weight: lighter;
    margin-bottom: 20px; 
}

.desc{
    display: block;
    margin: auto;
    position: fixed;
    top:0px; bottom:0px; right:0px; left:0px;
    text-align: center;
    line-height: 20px;
    font-size: 14pt;
    font-weight: lighter;
}
