.proj_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.proj_title{
    margin: auto;
    position: absolute;
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

.lang_used{
    margin: auto;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 12pt;
    font-weight: lighter;
    margin-bottom: 20px; 
}

.desc{
    display: block;
    margin: auto;
    position: absolute;
    text-align: center;
    line-height: 20px;
    font-size: 14pt;
    font-weight: lighter;
}
